# Cloudflare DDNS updater for local.kydyrov.dev

CF_API_TOKEN={{ ddns_api_token }}
CF_ZONE_NAME={{ domain_name }}
CF_RECORD_NAME={{ local_domain }}
CF_RECORD_TYPE=A
CF_TTL=1
CF_PROXIED=false
CF_PUBLIC_IP_URL=https://api.ipify.org?format=json
CF_TIMEOUT_SECONDS=15