GHCR_OWNER={{ ghcr_owner }}
IMAGE_TAG={{ effective_image_tag }}
APP_VERSION={{ effective_app_version }}
BUILD_SHA={{ effective_build_sha }}
BUILD_DATE={{ effective_build_date }}
BUILD_ID={{ effective_build_id }}
CONTAINER_REGISTRY={{ effective_container_registry }}
DB_USER={{ db_user }}
DB_PASSWORD={{ db_password }}
SECRET_KEY={{ secret_key }}
INCIDENT_ASSISTANT_USE_OLLAMA={{ incident_assistant_use_ollama }}
OLLAMA_BASE_URL={{ ollama_base_url }}
OLLAMA_MODEL={{ ollama_model }}
OLLAMA_TIMEOUT_SECONDS={{ ollama_timeout_seconds }}
