IMAGE_TAG={{ effective_image_tag }}
APP_VERSION={{ effective_app_version }}
BUILD_SHA={{ effective_build_sha }}
BUILD_DATE={{ effective_build_date }}
BUILD_ID={{ effective_build_id }}
CONTAINER_REGISTRY={{ effective_container_registry }}
